#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menu "BS Controller Specific"

config BSCAPP
	bool "BS Controller Application"
	default n
	---help---
		Activate BS Controller application.

endmenu
